<div class="container">

<h3 class="mb-4">Dashboard</h3>

<div class="row">

<div class="col-md-4">
<div class="card text-center shadow p-3">

<h5>Total Users</h5>
<h2>12</h2>

</div>
</div>

<div class="col-md-4">
<div class="card text-center shadow p-3">

<h5>Active Users</h5>
<h2>8</h2>

</div>
</div>

<div class="col-md-4">
<div class="card text-center shadow p-3">

<h5>New Users</h5>
<h2>4</h2>

</div>
</div>

</div>

<!-- <div class="card mt-4 p-4 shadow">

<canvas id="myChart"></canvas>

</div> -->

</div>