<div class="container d-flex justify-content-center align-items-center vh-100">

<div class="card shadow p-4" style="width:400px">

<h3 class="text-center mb-4">Forgot Password</h3>

<div class="mb-3">
<label>Email</label>
<input
type="email"
class="form-control"
[(ngModel)]="email"
placeholder="Enter your email">
</div>

<button
class="btn btn-warning w-100"
(click)="submit()">
Send Reset Link
</button>

<div class="text-center mt-3">
<a routerLink="/auth/login">Back to Login</a>
</div>

</div>

</div>